<!DOCTYPE html>
<html>
<head>
    <title>게시글 작성</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='board/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='home/phantom.png') }}" alt="Logo" style="width: 150px"></a></li>
                <li><a href="{{ url_for('board') }}">게시판</a></li>
                {% if 'user_id' in session %}
                    <li>User : {{ session['user_id'] }}</li>
                    <li><a href="{{ url_for('logout') }}">logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">login/signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <h1>게시글 작성</h1>
    <form action="{{ url_for('submit_post') }}" method="post">
        <label for="title">제목:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="author">작성자:</label><br>
        {% if 'user_id' in session %}
            <input type="text" id="author" name="author" value="{{ session['user_id'] }}" readonly><br>
        {% else %}
            <input type="text" id="author" name="author" value="익명" readonly><br>
        {% endif %}
        <label for="content">내용:</label><br>
        <textarea id="content" name="content"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
