<!-- board/post.html -->
<!DOCTYPE html>
<html>
<head>
    <title>게시글</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='board/post.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='home/phantom.png') }}" alt="Logo" style="width: 150px"></a></li>
                <li><a href="{{ url_for('board') }}">게시판</a></li>
                {% if 'user_id' in session %}
                    <li>User : {{ session['user_id'] }}</li>
                    <li><a href="{{ url_for('logout') }}">logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">login/signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <form>
        <p>제목 : {{ title }}</p>  <!-- title 보여주기 -->
        <p> 작성자 : {{ author }}</p>  <!-- author 보여주기 -->
        <p>날짜 : {{ date }}</p>  <!-- date 보여주기 -->
        <p>내용 : {{ content }}</p>  <!-- content 보여주기 -->
        <a href="{{ url_for('board') }}">돌아가기</a>
    </form>

</body>
</html>
